{{ define "nav" }}
{{- $url := .URL -}}
<aside id="sidebar" class="layout-sidebar">
	<header class="logo">
		<a href="/">
			<img class="icon" src="/files/logo-text.svg" alt="Gio logo">
		</a>
	</header>

	<nav id="menu">
		<ul>
			<li><a href="/" {{if .Nav.Active}}aria-describedby="current"{{end}}>Home</a></li>
			{{ template "nav-children" .Nav }}
		</ul>
	</nav>
</aside>
{{ end }}

{{ define "nav-children" }}
{{ range $item := .Children }}
<li>
	<a href="{{$item.Page.URL}}" {{if .Active}}aria-describedby="current"{{end}}>{{$item.Page.Title}}</a>
	{{if $item.Children}}
	<input class="nav-toggle" id="{{$item.Page.Slug}}" type="checkbox" {{if .Active}}checked{{end}}>
	<label for="{{$item.Page.Slug}}"><span class="font-size:small">▼</span></label>
	<ul>{{ template "nav-children" $item }}</ul>
	{{end}}
</li>
{{ end }}
{{ end }}