{{ define "nav" }}
{{- $url := .URL -}}
<aside id="nav">
	<header class="logo">
		<a href="/">
			<img class="icon" src="/files/logo-text.svg" alt="Gio logo">
		</a>
	</header>

	<nav id="nav-main">
		<ul>
			{{ range $item := .Menu }}
			<li><a href="{{$item.Link}}" {{if IsSubPage $url $item.Link }}aria-describedby="current"{{end}}>{{$item.Title}}</a></li>
			{{ end }}
		</ul>
	</nav>
</aside>
{{ end }}