{{ define "nav" }}
<aside id="nav">
    <header class="logo">
        <a href="/">
            <img class="icon" src="/files/logo-text.svg" alt="Gio logo">
        </a>
    </header>

    <nav id="nav-main">
        <ul>
            <li><a href="/" aria-describedby="current">Home</a></li>
            <li><a href="/doc/install">Install</a></li>
            <li><a href="/doc/mobile">Mobile</a></li>
            <li><a href="/doc/integrate">Integrate</a></li>
            <li><a href="/doc/architecture">Architecture</a></li>
            <li><a href="/doc/contribute">Contribute</a></li>
            <li><a href="/doc/faq">FAQ</a></li>
        </ul>
    </nav>
</aside>
{{ end }}