{{define "content"}}
{{.Page.Content}}
{{end}}

{{define "title"}}{{ .Front.Title }}{{end}}

{{define "caption"}}
<header id="caption" class="layout-caption">
	<h1>
		<div>{{ .Front.Title }}</div>
		{{ with .Front.Subtitle }}<div class="subtitle">{{.}}</div>{{end}}
	</h1>
</header>
{{end}}

{{define "toc"}}
<aside class="layout-toc">
	<nav id="toc" class="sticky-toc">
		<ul>
			{{ range $link := .TOC }}
			<li><a href="#{{$link.HeadingID}}">{{$link.Title}}</a></li>
			{{ end }}
		</ul>

		{{ if .Links }}
		<ul class="font-size:base">
			{{ range $link := .Links }}
			<li><a href="{{$link.URL}}" target="_blank" rel="noopener noreferrer">🔗 {{$link.Title}}</a></li>
			{{ end }}
		</ul>
		{{ end }}
	</nav>
</aside>
{{end}}