{{define "root"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{template "title" .}}</title>
	<meta name="description" content="Gio is an open source library for creating portable, immediate mode GUI programs for Android, iOS, Linux, Windows, macOS.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/files/favicon196.png" sizes="196x196"/>
	<link rel="icon" type="image/png" href="/files/favicon32.png" sizes="32x32"/>
	<link rel="stylesheet" href="/files/style.css?v=2"/>
</head>
	<body>
	<header>
		<nav>
			<a href="/">
				<img class="logo" src="/files/logo.svg" alt="Gio">
			</a>
		</nav>
	</header>
		<main>
			<div class="container">
			{{template "content" .}}
			</div>
		</main>
	<script src="/scripts.js"></script>
	</body>
</html>
{{end}}
