---
title: Newsletter
subtitle: Gioverse news
hidechildren: true
rss: true
children:
    - "./2023-01"
    - "./2022-12"
    - "./2022-11"
    - "./2022-10"
    - "./2022-09"
    - "./2022-08"
    - "./2022-07"
    - "./2022-06"
    - "./2022-05"
    - "./2022-04"
    - "./2022-03"
    - "./2022-02"
---

{{ define "content" }}
{{- range $item := .Children -}}
<article class="newsitem">
    <h3><a href="{{$item.URL}}">{{or $item.ShortTitle $item.Title}}{{with $item.Subtitle}} - {{.}}{{end}}</a></h3>
	<p>{{.Summary}}</p>
</article>
{{- end -}}
{{ end }}
