---
title: Showcase
subtitle: Programs written with Gio
children:
    - ./cryptopower
    - ./g45w
    - ./godcr
    - ./gotraceui
    - ./photon
    - ./protonet
    - ./sointu
    - ./sprig
    - ./tailscale
    - ./wormhole-william
---

{{ define "toc" }}<div style="display:none"></div>{{ end }}

{{ define "content" }}
<p>
This contains a showcase of different programs written using Gio in alphabetical order.
</p>

<div class="tiles">
    {{ range $item := .Children }}
    <a href="{{$item.URL}}" style="background-image: url('{{(index $item.Images 0).Source}}')">
        <div class="title">{{$item.Title}}</div>
        <p>{{$item.Subtitle}}</p>
    </a>
    {{ end }}
</div>
{{ end }}
